@import './variables.css';
@import './material.css';
@import './animations.css';

html, body, #root {
  height: 100%;
}

#root>div.Toastify>div>div {
    min-height: 3rem;
}

#root > div.Toastify > div > div > div {
    display: flex;
    padding: 0 1rem;;
    justify-content: space-between;
    align-items: center;
}

.App {
  background-color: var(--main-bg);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 3rem;
  min-height: calc(100% - 3rem);
}

.page-header {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 750px;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.nav-link, .nav-link:visited {
  text-decoration: none;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  border: 1px solid var(--primary-dark);
  background-color: var(--primary);
  color: white;
}

.nav-active {
  background-color: var(--secondary) !important;
  color: black !important;
}

input, select {
  border-radius: 4px;
  height: 1.5rem;
  border: 1px solid var(--primary-light);
  padding: 0.2rem 0.5rem;
  text-align: center;
  margin: 0.25rem;
  max-width: 15rem;
  background-color: white;
}

.select-title {
  margin: 0.5rem 0.25rem 0.25rem 0.25rem;
}

.btn {
  margin: 1rem;
  padding: 0.5rem;
  background-color: var(--primary);
  border-radius: 4px;
  border: none;
  color: white;
  max-width: 15rem;
  text-decoration: none;
}

.btn>i {
  margin-left: 0.5rem;
}

.toast-btn {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: #9a0007;
}

.opt-btn {
  margin: 0;
  display: flex;
  align-items: center;
  color: black;
  background-color: var(--secondary);
  border: solid 1px black;
}

.btn:hover {
  background-color: var(--primary-dark);
  cursor: pointer;
}

.opt-btn:hover {
  color: black;
  background-color: var(--secondary);
  border: solid 1px black;
}

.btn-del, .btn-del:hover {
  background-color: var(--delete);
}

.btn:focus, input:focus, select:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--secondary);
}

.btn-sec, .btn-sec:hover, .btn-sec:focus {
  background-color: var(--secondary);
  color: black;
}

.btn-inactive, .btn-inactive:hover, .btn-inactive:focus {
  background-color: #bdbdbd;
  box-shadow: none;
}

input[type='checkbox']:focus {
  outline: none;
  box-shadow: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);}

.score-card {
  display: flex;
  flex: 1 0 100px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}
