.game-list-card {
    padding: 0.5rem;
}

.game-list-info {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem;
}

.game-score {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem 0;
}

.game-list-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.game-list-btn {
    display: flex;
    align-self: center;
    margin: 0.25rem;
    font-size: 12px;
    align-items: center;
}

.stat-table-title {
    margin: 1rem 0 0.5rem 0;
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .game-list-card {
        font-size: small;
    }
    .stat-table {
        font-size: x-small;
    }
}
