.stats {
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-stats {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin: 0.5rem;
}

.game-info {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 0 0.25rem 0.5rem 0.25rem;
}

.game-clock {
  padding: 0 0.5rem;
  font-weight: bold;
  font-size: x-large;
  color: var(--primary);
}

.timer-controls {
  display: flex;
  justify-content: space-between;
}

.timer-control {
  cursor: pointer;
}

.score-card-stats {
  margin: 0;
}

#team-name {
  max-width: 80%;
  word-break: break-word;
}

.score {
  padding: 0 0.5rem;
  font-size: x-large;
}

.dark {
  background-color: black;
  color: white;
}

.player-list {
  margin-top: 0.5rem;
}

.stat-btn-after {
  align-self: center;
}

.player-input {
  display: flex;
  align-items: center;
}

.player-name {
  flex: 1 1 100px;
  min-width: 135px;
  word-break: break-all;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0;
  margin: 0 0.3rem;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.player-text {
  padding: 0.2rem;
}

.stat-btns {
  display: flex;
  flex: 1 1 210px;
  justify-content: space-evenly;
}

.stat-btn {
  flex: 1 1 0px;
  max-height: 2rem;
  margin: 0.4rem 0.3rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.t-away-btn {
  background-color: var(--delete);
}

@media only screen and (max-width: 370px) {
  .t-away-btn {
    font-size: x-small;
  }
}

.btn:disabled {
  background-color: var(--primary-light);
}

.game-options {
  display: flex;
  justify-content: space-evenly;
}

.score-badge {
  position: absolute;
  top: -10px;
  left: -6px;
  padding: 1px 4px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  color: black;
  background-color: var(--secondary);
}

.assist {
  left: initial;
  right: 0px;
  background-color: lightgreen;
}

#test-notification {
  margin: 0.25rem;
  border-radius: 4px;
  background-color: var(--delete);
  color: white;
}

#test-text {
  margin: 0.25rem;
}

.add-player-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
