.stats {
    width: 100%;
    display: flex;
    justify-content: center;
}

#root>div.Toastify>div>div {
    min-height: 3rem;
}

.game-stats {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5rem;
}

.game-info {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0 0.25rem 0.5rem 0.25rem;
}

.game-clock {
    padding: 0 0.5rem;
    font-weight: bold;
    font-size: x-large;
    color: var(--primary);
}

.timer-controls {
    display: flex;
    justify-content: space-between;
}

.timer-control {
    cursor: pointer;
}

.score-card {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

#team-name {
    max-width: 80%;
    word-break: break-word;
}

.score {
    padding: 0 1rem;
    font-size: x-large;
}

.dark {
    background-color: black;
    color: white;
}

.player-list {
    margin-top: 0.25rem;
}

.player-input {
    display: flex;
    align-items: center;
}

.player-name {
    flex: 1 1 100px;
    min-width: 110px;
    word-break: break-all;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0;
    margin: 0 0.3rem;
    border-radius: 4px;
    border: 1px solid lightgrey;
}

.player-text {
    padding: 0.2rem;
}

.stat-btns {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
}

.stat-btn {
    margin: 0.4rem 0.3rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.opt-btn {
    margin: 0;
    display: flex;
    align-items: center;
    color: black;
    background-color: var(--secondary);
    border: solid 1px black;
}

.opt-btn>i {
    margin-left: 0.5rem;
}

.opt-btn:hover {
    color: black;
    background-color: var(--secondary);
    border: solid 1px black;
}

.game-options {
    display: flex;
    justify-content: space-evenly;
}