.add-team-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-list {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.team-name {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: x-large;
}

.card-info {
    margin-top: 0.5rem;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    font-size: 0.9rem;
}

.card-link {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card-link > i {
    margin: 0.5rem;
}

.player-list {
    margin-top: 0.5rem 0;
}

.nmt {
    margin-top: 0;
}